.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card {
  background-color: #fff;
  padding: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 20px;
  /* flex-shrink: 1; */
  min-width: 270px;
  max-width: 360px;
}

.card-heading {
  font-size: 28px;
  margin: 8px;
}

.card-image {
  align-self: flex-end;
  height: 100px;
  width: 120px;
}

@media screen and (max-width: 991px) {
  .card {
    margin: 20px 15px;
  }
}
